{% set pods = {} %}
{% for item in ceph_osd_storage %}
{%   for host in item.hosts %}
{%      for osd in item.osds %}
{%        set osd_name = 'osd-' + host + '-' + osd.data | regex_replace('.+/([^/]+)$', '\\1') | regex_replace('[^\\w]','-') %}
{%        set _ = pods.update({osd_name: {'host': host, 'osd': osd} }) %}
{%      endfor %}
{%   endfor %}
{% endfor %}

{{ pods | to_json }}
