{% set pods = {} %}
{% for item in ceph_osd_storage %}
{%   for host in item.hosts %}
{%      for osd in item.osds %}
{%        set pod_name_prefix = 'osd-{}-{}-'.format(host | regex_replace('^([^\.]+)(?:\..+)?$', '\\1'), osd.data | regex_replace('^.+/([^/]+)$', '\\1') | regex_replace('[^\\w]','-')) %}
{%        set pod_key = '{}:{}'.format(host, osd.data) %}
{%        set _ = pods.update({pod_key: {'host': host, 'pod_name_prefix': pod_name_prefix, 'osd': osd}}) %}
{%      endfor %}
{%   endfor %}
{% endfor %}

{{ pods | to_json }}
